/* 애니메이션 부분 */

#menu {
    width: 150px;
    height: 150px;
    position: absolute;
    display: none;
    z-index: 20;
}

#btnAdd {
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url("../assets/add_content.png");
    background-size: 100%;
    z-index: 21;
    opacity: 0.5;
    display: block;
    -webkit-transition: all 100ms linear;
}

#addButton {

    background-size: 100%;
    z-index: 21;
    opacity: 0.5;
    display: block;
    -webkit-transition: all 100ms linear;
}

#buttons {
    position: relative;
    width: 100%;
    height: 100%;
}

.btnMenu {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#addText { background-image: url("../assets/add_text.png"); }
#addImage { background-image: url("../assets/add_image.png"); }
#addLink { background-image: url("../assets/add_link.png"); }
#addSearch { background-image: url("../assets/add_search.png"); }
#addYoutube { background-image: url("../assets/add_youtube.png"); }


/* Help Button css */

#guideDiv {
    position:absolute;
    text-align: center;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7);
    background-color: #ffffff;
    z-index: 11;
    display: none;
    overflow: scroll;
}

#xButtonGuide {
    z-index: 12;
    position:absolute;
    display: none;
}

#infoButtonGuide {
    z-index: 12;
    position:absolute
}

#imgHelp {
    background-color: #EDEDED;
    border-radius: 10px;
    display: none;
}


/* input div css */



#inputText {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color:rgb(0, 181, 204);
    display: none;
    top:0;
    text-align: center;
    opacity: 0.9;
    padding-top: 6%;
}

#inputArea {
    height: 25%;
    width: 80% !important;
    padding: 15px;
    font-size: 12pt;
    resize: none;
    border: none;
    letter-spacing: -0.5px;
    border-radius: 10px;
}

#btnLetseeit {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#btnLetseeit img {
    width: 40%;
}

.page-header {
    width: 100%;
    height: 60px;
    text-align: center;
    position: relative;
}

.page-header p {
    margin: 0;
    line-height: 60px;
    font-size: 13pt;
    color: white;
}
.page-header img {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 30px;
}

/* 입력한 text 크기조절 및 확인 */

#inputConfirm {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    display: none;
    z-index: 30;
}

.icon-edit-sucsess {
    font-family: AppleSDGothicNeo, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin-right: 14px;
    margin-top : 14px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    top:5%;
    right:0;
    position:absolute;

}

#delete-input {
    margin-right: 10px;
    top:70%;
    right:0;
    position:absolute;
}
