<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Sticker</title>
    <link rel="stylesheet" href="https://cdn.letsee.io/css/NotoSansKR-Black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <style media="place">
      #arContainer {
        -letsee-target: uri('assets/toystory.json');
        -letsee-transform: translate(0, 0, 0);
        border:1px solid red;
        width: 100px;
        height: 100px;
      }
    </style>
  </head>

  <body>
    <div id="app"></div>
    <div id="arContainer"></div>
  </body>
</html>
